body{
    display: grid;
    place-content: center;
}

button{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 100%;
    background-color: pink;
    transition-duration: 3s;
    transition-timing-function: steps(5);
}

button:hover {
    scale: 2;
    background-color: rgb(242, 221, 34);
    box-shadow: 0 0 20px yellow;
    transition-duration: 1s;
    transition-timing-function: linear;
}