body{
    display: grid;
    place-content: center;
    min-height: 50vh;
}

button{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 100%;
    background-color: pink;
    transition-duration: 6s;
    transition-timing-function: ease-in-out;
    transition-property: scale, background-color;
}

/* Cuando se haga el hover, se realizará la transición */

button:hover{
    scale: 2;
    background-color: rgb(242, 221, 34);
    box-shadow: 0 0 20px yellow;
}